#article-html h1 {
  font-size: 4rem;
}

#article-html h2 {
  font-size: 3rem;
}

#article-html img {
  margin: 2rem 0;
}

input[type=file]::-webkit-file-upload-button { /* chromes and blink button */
  cursor: pointer;
}
